#c-one {
    background-image: url('../img/1.gif');
    background-size: 200px 300px;
    height: 300px;
    width: 200px;
}

#two {
  background-image: url('img/1.gif');
  background-size: 60px 80px;
  height: 80px;
  width: 60px;
}

#one {
  background-image: url('img/1.gif');
  background-size: 60px 80px;
  height: 80px;
  width: 60px;
}

#one {
  background-image: url('img/1.gif');
  background-size: 60px 80px;
  height: 80px;
  width: 60px;
}

#one {
  background-image: url('img/1.gif');
  background-size: 60px 80px;
  height: 80px;
  width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}

#one {
  background-image: url('img/1.gif');
  background-size: 60px 80px;
  height: 80px;
  width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}

#one {
  background-image: url('img/1.gif');
  background-size: 60px 80px;
  height: 80px;
  width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}

#one {
  background-image: url('img/1.gif');
  background-size: 60px 80px;
  height: 80px;
  width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}

#one {
  background-image: url('img/1.gif');
  background-size: 60px 80px;
  height: 80px;
  width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}

#one {
  background-image: url('img/1.gif');
  background-size: 60px 80px;
  height: 80px;
  width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}

#one {
  background-image: url('img/1.gif');
  background-size: 60px 80px;
  height: 80px;
  width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}

#one {
  background-image: url('img/1.gif');
  background-size: 60px 80px;
  height: 80px;
  width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}

#one {
  background-image: url('img/1.gif');
  background-size: 60px 80px;
  height: 80px;
  width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}

#one {
  background-image: url('img/1.gif');
  background-size: 60px 80px;
  height: 80px;
  width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}

#one {
  background-image: url('img/1.gif');
  background-size: 60px 80px;
  height: 80px;
  width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}

#one {
background-image: url('img/1.gif');
background-size: 60px 80px;
height: 80px;
width: 60px;
}
